[global]
server.socket_host: "0.0.0.0"
server.socket_port = 18080
#server.ssl_module = "builtin"

#server.ssl_certificate = "C:/APP/council_speakers/certificates/cert.pem"
#server.ssl_private_key = "C:/APP/council_speakers/certificates/privkey.pem"
tools.staticdir.root = "/Users/jaap/Work/projects/council_system_editor"

[/]

tools.staticdir.dir = "web"
tools.staticdir.debug = True
log.screen = True
cors.expose.on = True

[/css]
tools.staticdir.on = True
tools.staticdir.debug = True
log.screen = True
tools.staticdir.dir = "css"

[/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"

[/images]
tools.staticdir.on = True
tools.staticdir.dir = "images"
