<%inherit file="base.html"/>
<ul class="list">
    <li><a class="item" href="parties">Partijen</a></li>
    <li><a class="item" href="users">Leden</a></li>
    <li><a class="item" href="icons">Partij logo's</a></li>
    <li></li>
</div>
</ul>